<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans-4.1.xsd 
     http://www.springframework.org/schema/context 
     http://www.springframework.org/schema/context/spring-context-4.1.xsd">
     
    <context:component-scan base-package="com.hiriver">
        <context:exclude-filter type="annotation"
            expression="org.springframework.stereotype.Controller" />
        <context:exclude-filter type="annotation"
            expression="org.springframework.web.bind.annotation.ControllerAdvice" />
    </context:component-scan>

    <bean id="propertyConfigurer"
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:*.properties</value>
            </list>
        </property>
    </bean>

    <bean id="transportConfig" class="com.hiriver.unbiz.mysql.lib.TransportConfig">
        <property name="connectTimeout" value="${connectTimeout}"></property>
        <property name="soTimeout" value="${soTimeout}"></property>
    </bean>

    <bean id="tableFilter"
        class="com.hiriver.unbiz.mysql.lib.filter.impl.BlackWhiteNameListTableFilter">
        <property name="tableWhite" value="${table.white}"></property>
    </bean>

    

    <bean id="positionStore"
        class="com.hiriver.position.store.impl.FileBinlogPositionStore">
        <property name="filePath" value="${position.store.path}"></property>
    </bean>
    
    <bean id="channelBuffer" class="com.hiriver.channel.stream.impl.DefaultChannelBuffer" >
        <property name="limit" value="${channel.buffer.limit}"></property>
    </bean>
    
    
    
    <import resource="classpath:spring/spring-binlog.xml"/>
</beans>
